body {
  font-family: 'Georgia', serif;
  background-image: url('images/Cafe_Background.png');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  background-color: rgba(193, 154, 107, 0.9);
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
}
header .insta-handle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1em;
  color: #fff;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
section {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1 1 400px;
}
.collapsible {
  background-color: #c19a6b;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collapsible1 {
  background-color: #c19a6b;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collapsible2 {
  background-color: #c19a6b;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collapsible3 {
  background-color: #c19a6b;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collapsible:hover {
  background-color: #a37d50;
}
.content {
  padding: 0 15px;
  display: none;
  overflow: hidden;
}
.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.menu-item img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin-right: 15px;
}
.cart, .sales-summary {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #333;
}
button {
    padding: 5px 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}
